<div class="flex flex-col lg:flex-row justify-center gap-10 py-9">

    <!-- EDIT QUEUE FORM -->
    <.simple_form 
        class="w-11/12 md:w-1/2 lg:w-1/3"
        :let={f} 
        for={@changeset} 
        action={~p"/queues/#{@queue.id}"}
        method="post"
    >
        <.header class="text-center">
            Edit Queue
        </.header>

        <.input field={f[:name]} type="text" label="Name" required />
        <.input field={f[:prefix]} type="text" label="Prefix" required />

        <.input 
            field={f[:description]} 
            type="textarea" 
            label="Description"
        />

        <.input field={f[:max_number]} type="number" min="1" label="Max Number" required />

        <.input
            field={f[:status]}
            type="select"
            label="Status"
            options={[Active: "active", Inactive: "inactive"]}
        />

        <:actions>
            <.button class="w-full">Update Queue</.button>
        </:actions>
    </.simple_form>


    <!-- ASSIGN & LIST TELLER -->
    <div class="w-11/12 md:w-1/2 lg:w-1/3 py-15 gap-10">
        <.header class="text-center">
            Assign Teller
        </.header>

        <!-- ASSIGN -->
        <.form :let={f}
            for={%{}}
            action={~p"/queues/#{@queue.id}/assign_teller"}
            method="post"
            class="space-y-4"
            >

            <.select_users 
                users={@available_users} 
                name="user_id"
            />

            <.button class="w-full">Add Teller</.button>
        </.form>

        <div class="border-t my-5"></div>

        <h3 class="text-lg font-semibold mb-3">Assigned Tellers</h3>

        <ul class="space-y-3">
            <%= for teller <- @queue.tellers do %>
                <li class="flex justify-between items-center bg-gray-100 p-3 rounded-lg">
                    <span><%= teller.fullname %> – <%= teller.email %></span>

                    <form 
                        method="post" 
                        action={"/queues/#{@queue.id}/remove_teller/#{teller.id}"}
                    >
                        <input type="hidden" name="_method" value="delete" />

                        <button
                            class="bg-red-600 text-white px-3 py-1 rounded-lg hover:bg-red-700 text-sm"
                        >
                            Remove
                        </button>
                    </form>
                </li>
            <% end %>
        </ul>

    </div>
</div>
